body {
  background-color: rgb(247, 118, 118);
  /* position: relative; */
}


.time {
  background-color:red;
  color: white;
  padding: 10px;
  margin: 10px;
}
div{
  padding:  20px;
}
.btn {
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100px;
}

.btn:hover {
  transition: 0.5s;
  background-color:red;
  box-shadow: 0px 0px 2px 2px rgb(240, 42, 138);
  border: 2px solid red;
}
.color:hover {
  transition:  0.5s;
  box-shadow: 0px 0px 2px 2px aqua;
}
h1 {
  color:  white;
}


.car, .newButton {
  background-color:  red;
  color: white;
  padding: 2px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}


.col {
  background-color: rgb(7, 59, 59);
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.col:hover {
  background-color:coral;
}





.football {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  border: 1px solid red;
  border-radius: 50%;
  transition: 0.5s;
}
.football:hover {
  transition: 1s;
  border: 1px solid yellow;
}

.field {
  width: 300px;
  /* border: 2px solid red; */
}
img {
  border: 2px solid red;
}

.redBlock {
  position: absolute;
  background-color: transparent;
  height: 140px;
  margin-top: 250px;
  width: 25px;
}









.redSquare {
  position: relative;
  border: 2px solid red;
  width:200px;
  height: 200px;
}
.blackSquare {
  position: absolute;
  left:0px;
  top:0px;
  border: 2px solid black;
  width:20px;
  height: 20px;
  z-index: 1;
}

