body {
  background-color: rgb(247, 118, 118);
  /* position: relative; */
}


.time {
  background-color:red;
  color: white;
  padding: 10px;
  margin: 10px;
}
div{
  padding:  20px;
}
.btn {
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100px;
}

.btn:hover {
  transition: 0.5s;
  background-color:red;
  box-shadow: 0px 0px 2px 2px rgb(240, 42, 138);
  border: 2px solid red;
}
.color:hover {
  transition:  0.5s;
  box-shadow: 0px 0px 2px 2px aqua;
}
h1 {
  color:  white;
}


.car, .newButton {
  background-color:  red;
  color: white;
  padding: 2px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}


.col {
  background-color: rgb(7, 59, 59);
  color: white;
  padding: 3px;
  border-radius: 5px;
}
.col:hover {
  background-color:coral;
}

 
 /*! Футбол */
.football {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  border: 1px solid red;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 1;
}
.football:hover {
  transition: 1s;
  border: 1px solid yellow;
}

.trickField {
  width: 365px;
  height: 200px;
  margin: 45px 45px;
  position: absolute;
  background-color: aqua;

}
.changeWidth {
  border: 1px solid red;
  width: 500px;
}

.redBlock {
  border: 1px solid red;
  position: absolute;
  height: 100px;
  margin-top: 100px;
  margin-left: 45px;
}


.title2 {
  position: fixed;
  background-color: red;
  width: 200px;
  text-align: center;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  text-decoration:underline;
  z-index: 1;
  margin-left: 550px;
  display:block;
}

.title2:hover {
  opacity: 100%;
}
/*! Конец кода */







.redSquare {
  position: relative;
  border: 2px solid red;
  width:200px;
  height: 200px;
}
.blackSquare {
  position: absolute;
  left:0px;
  top:0px;
  border: 2px solid black;
  width:20px;
  height: 20px;
  z-index: 1;
}

